.listings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
}

.profile-page {
  padding: 2rem;
}

.profile-page h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.profile-page h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 2rem;
}

.profile-section button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.profile-section button:hover {
  background-color: #0056b3;
}
